services:
  t-talk-server:
    build:
      context: .
      args:
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_HOST=${MYSQL_HOST}
        - MYSQL_PORT=${MYSQL_PORT}
    restart: unless-stopped
    ports:
      - 3000:3000
    extra_hosts:
      - 'host.docker.internal:host-gateway'
    environment:
      - NITRO_JWT_SECRET=${NITRO_JWT_SECRET}
      - NITRO_ENCRYPTION_KEY=${NITRO_ENCRYPTION_KEY}
    volumes:
      - ./data/uploads:/public/uploads
